.main_body{
    font-seize:10px;
    color: whitesmoke;
    text-align: left;
}

.main_story{
    font-seize:18px;
    color: whitesmoke;
    text-align: center;
}

html{
     font-size: 22px}

     body{
     text-align: center;
     background-color: #000000;
     color: whitesmoke;
}

.nav{
 color: white;
    text-align: center;
    padding: 10;
    float: center
    font-size: 24px;



}

.nav li{
    display: inline;



}

.nav_Fresh_start{
    color: whitesmoke;
    font-size: 32px;
    padding: 10;
    margin-left:-60px

}

.nav_Fresh_start li{
    display: inline;
    margin-left:30px

}
.content_links{
margin-left:-60px;}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #FF0000;
}